.project__details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  &-image {
    & > img {
      width: 800px;
    }
  }

  &-box {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
    color: $black-200;
    max-width: 950px;
    box-shadow: #6504b526 1.95px 1.95px 2.6px;
    font-family: $Montserrat;

    & > h1 {
      font-size: 35px;
    }

    & > p {
      font-size: 18px;
      margin-top: 10px;
    }

    & > button {
      border: 1px solid $azure;
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 25px;
      transition: all 0.3s linear;
      font-family: $RobotoSlab;

      &:hover {
        background-color: $azure;
        color: white;
      }
    }
  }
}
